footer {
  
  background-color: var(--dark-color);
  display: flex;
  text-align: center;
  /* height: 12vh; */
  padding: 1.5em;
  justify-content: center;
  align-items: center;
}

footer p {
  /* color: var(--dark-pink); */
  color: white;
  letter-spacing: 2px;
}
